<div class ="container-fluid">
    <h1>This is The Twitter Bootstrap Tutorial</h1>
    <div class="row">

        <div class="col-md-12">
            <h1>This is The Twitter Bootstrap Tutorial</h1>

        </div>
    </div>
</div>