body
{
	background-image:
		url("/images/turkish-bath.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1.85em;
	padding-right: 1.85em;
}

h1{font-size: 2.15em; font-weight:bold;}
h2{font-size: 1.85em; font-weight:bold;}
h3{font-size: 1.6em; font-weight:bold;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}
